.toast-container {
  position: fixed;
  bottom: 60px;
  right: 60px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 300;
}

.toast {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 6px;
  height: 50px;
  padding: 0 18px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.toast__icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.toast__text {
  font-family: 'Circe Light', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0;
  color: var(--font-color);
}
